<div class="menu">
    <div class="">
        <div class="article">
            <div class="row">
                <!--メインコンテンツ　ここから-->
                <div class="col-xs-12 col-md-8 ">
                    <div class="card h-0 mb-3 mr-3">
                        <div class="card-body">
                            <div class="">

                                <h1 id="mainTitle">
                                    <p>Angularの導入からサーバー起動まで(2024年2月作成)</p>
                                </h1>
                                <h4 id="目次">
                                    <p><strong>目次</strong></p>
                                </h4>
                                <mat-list>
                                    <mat-list-item><a href="/article001#Angularとは">Angularとは</a></mat-list-item>
                                    <mat-list-item><a href="/article001#環境">環境</a></mat-list-item>
                                    <mat-list-item><a href="/article001#Nodeをインストール">Nodeをインストール</a></mat-list-item>
                                    <mat-list-item><a
                                            href="/article001#npmでAngularをインストール">npmでAngularをインストール</a></mat-list-item>
                                    <mat-list-item><a href="/article001#プロジェクトの作成">プロジェクトの作成</a></mat-list-item>
                                    <mat-list-item><a href="/article001#サーバの起動と動作確認">サーバの起動と動作確認</a></mat-list-item>
                                </mat-list>

                                <br>
                                <h2 id="Angularとは">
                                    Angularとは
                                </h2>
                                <p>TypeScript, CSS, HTML で実装されたWebアプリケーションフレームワーク。
                                    簡単にフロントエンド（web画面）の Web サイトを開発できます。</p>
                                <h2 id="環境">環境</h2>
                                <ul>
                                    <li>・Windows 10</li>
                                    <li>・Angular 17.0</li>
                                </ul>
                                <div class="">
                                    <pre><code>PS C:\angularStudy\MyApp> ng version
     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/
    

Angular CLI: 17.0.9
Node: 20.10.0
Package Manager: npm 10.2.3
OS: win32 x64

Angular: 17.0.8
... animations, common, compiler, compiler-cli, core, forms
... platform-browser, platform-browser-dynamic, platform-server
... router
---以下省略---
PS C:\angularStudy\MyApp> </code></pre>
                                </div>

                                <h2 id="Nodeをインストール">Nodeをインストール</h2>
                                <p>Angularのインストールは、Node.jsのパッケージを管理するシステムであるnpmを用いて実施します。
                                    ※Nodeのインストール方法については、簡単に可能な為、割愛させていただきます。
                                </p>


                                <h2 id="npmでAngularをインストール">npmでAngularをインストール</h2>

                                <p><code id='npmAngular' [innerHTML]>$ npm install -g &#064;angular/cli</code></p>

                                <!-- <button (click)="exeClipbordCopy('npmAngular')"><i class="fas fa-copy"></i>
                                    コピーする
                                </button> -->
                                <p><code>$ ng version</code>でAngularが表示されていればインストール完了です。</p>

                                <h2 id="プロジェクトの作成">プロジェクトの作成</h2>
                                <p>まずはプロジェクトを作成します。</p>
                                <p><code>$ ng new my-app</code> </p>
                                <p>コマンドを実行したディレクトリに、my-app というディレクトリができます。</p>

                                <h2 id="サーバの起動と動作確認">サーバの起動と動作確認</h2>
                                <p>my-appディレクトリに移動します。</p>
                                <p><code>$ cd my-app</code></p>

                                <p>サーバーを起動します。
                                    http://localhost:4200でブラウザからアクセスします。</p>
                                <div class="highlight">
                                    <pre><code>C:\work\sample>cd my-app
C:\work\sample\my-app>
C:\work\sample\my-app>ng serve

Initial Chunk Files | Names         |  Raw Size
polyfills.js        | polyfills     |  83.46 kB |
main.js             | main          |  22.09 kB |
styles.css          | styles        |  95 bytes |

                    | Initial Total | 105.64 kB

Application bundle generation complete. [3.494 seconds]
Watch mode enabled. Watching for file changes...
  ➜  Local:   http://localhost:4200/
  ➜  press h + enter to show help
                        </code></pre>
                                </div>
                                <p>デフォルトの場合は<code>http://localhost:4200</code>
                                    にアクセスし、以下の画面が表示されればサーバーの起動に成功している。</p>
                                <img src="/assets/images/AngularHello.png" alt="Angulartest.PNG">
                                <p>CTRL + C でサーバーを終了します。</p>

                                <p>ここまでが導入からテストサーバーの起動までの解説となります。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--メインコンテンツ　ここまで-->

                <!--サブコンテンツ　ここから-->
                <div class="col-xs-12 col-md-4 ">
                    <!--カード　ここから-->
                    <div class="container mb-6">
                        <div class="card-deck ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title-group>
                                                <mat-card-title>tktkCompany</mat-card-title>
                                                <mat-card-subtitle></mat-card-subtitle>
                                                <img mat-card-sm-image
                                                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                    alt="柴犬の画像">
                                            </mat-card-title-group>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>現役SEしています。Angularを現場で使うことになり、自身の理解力向上の為情報発信を始めました。
                                                このサイトもAngular17で作成されています。<br>
                                                ラーメンが好き。

                                                <a class="twitter-timeline"
                                                    href="https://twitter.com/tk241277687?ref_src=twsrc%5Etfw">twitterのリンクはこちら</a>
                                                <script async src="https://platform.twitter.com/widgets.js"
                                                    charset="utf-8"></script>
                                            </p>
                                        </mat-card-content>


                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--カード　ここまで-->
                </div>
            </div>
        </div>
    </div>