.menu {
  background-color: #ccc;
  padding-left: 15px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('./cart.png');
  background-size: cover;
}

.img-frame{
  overflow: hidden;
  margin: 0 auto;
}

img:hover {
  /* ヌルッと動くように */
  transition: 0.3s;
  /* transformは変形プロパティ。値にscaleを指定すると拡大縮小することができる。 */
  transform: scale(1.3);
}

.zyanruform{
  width: 400px;
}



