h1{
    padding-top: 15px;
}

.mat-form-field {
    width: 500px;
}

.example-full-width {
    width: 300px;
}

input {
    width: 300px;
}

.example-form {
    flex-direction: column;
    display: flex;
}

button {
    width: 100px;
    margin-bottom: 10px;
}

.chat {
    padding-left: 20px;
}