<div class="menu">


  <!-- Example single danger button -->
  <!-- <select name="month">
  <option value="jan">1月</option>
  <option value="feb">2月</option>
  <option value="mar">3月</option>
  <option value="apr">4月</option>
  <option value="may">5月</option>
  <option value="jun">6月</option>
  <option value="jul">7月</option>
  <option value="aug">8月</option>
  <option value="sep">9月</option>
  <option value="oct">10月</option>
  <option value="nov">11月</option>
  <option value="dec">12月</option>
  </select> -->


  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      @for (food of foods; track food) {
      <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>


  <button (click)="getUserList()" type="button" id="rakutenButton" value="food.value" class="getinformation">楽天API発動！
  </button>




  <div>

  </div>

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->

  <!--1レコードここから-->
  <div class="row">
    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>

    <div class="col-sm-3">
      <!--ここからカード-->
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="itemName">
            <p></p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><button mat-button>商品を購入する</button></a>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <!--ここまでカード-->
      <br>
    </div>


    <ul></ul>

  </div>
  <!--1レコードここまで-->
</div>