.menu {
  background-color: #ccc;
}

.menu li {
  padding: 4px 8px;
  display: inline-block;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('./服のイラスト素材.jpeg');
  background-size: cover;
}

.zyanruform {
  width: 400px;
}

.img-frame{
  /* 縦横300pxにがっちり固定 */
  /* width: 400px;
  height: 300px; */
  /* 固定した幅からはみ出たものは隠してしまう */
  overflow: hidden;
  margin: 0 auto;
}

img {
  /* width: 400px;
  height: 300px; */
  margin: 0 auto;
  
}

img:hover {
  /* ヌルッと動くように */
  transition: 0.3s;
  /* transformは変形プロパティ。値にscaleを指定すると拡大縮小することができる。 */
  transform: scale(1.3);
}



