<div class="menu">
    <div class="">
        <div class="article">
            <div class="row">
                <!--メインコンテンツ　ここから-->
                <div class="col-xs-12 col-md-8 ">
                    <div class="card h-0 mb-3 mr-3">
                        <div class="card-body">
                            <div class="">
                                <h1 id="mainTitle">
                                    <p>アンドロイドアプリをJavaで始める方法(2025年1月作成)</p>
                                </h1>

                                <h4 id="目次">
                                    <p><strong>目次</strong></p>
                                </h4>
                                <mat-list>
                                    <mat-list-item><a href="/article006#動作環境">動作環境</a></mat-list-item>
                                    <mat-list-item><a href="/article006#この記事の目標">この記事の目標</a></mat-list-item>
                                    <mat-list-item><a href="/article006#事前準備">事前準備</a></mat-list-item>
                                    <mat-list-item><a href="/article006#プロジェクトを作成する">プロジェクトを作成する</a></mat-list-item>
                                    <mat-list-item><a href="/article006#動作確認をする">動作確認をする</a></mat-list-item>
                                    <mat-list-item><a href="/article006#作成したアプリ">作成したアプリ</a></mat-list-item>
                                </mat-list>
                                <br>
                                <h2 id="動作環境">動作環境</h2>
                                <ul>
                                    <li>・Windows 10</li>
                                    <li>・Android Studio Ladybug 2024 2.1 Patch3</li>
                                    <li>・Java</li>
                                    <li>・gradle</li>
                                </ul>


                                <h2 id="この記事の目標">この記事の目標</h2>
                                <p>アンドロイドスタジオを利用して開発を始めることができるように準備することです。</p>
                                <p>以下手順を実施することで開発を始めることができるようになります。</p>
                                <br>

                                <h2 id="事前準備">事前準備</h2>
                                <p>Android Stusio Ladybugをインストールできていることが前提となります。</p>
                                <p>手順は以下の参考リンクを参照してください</p>
                                <ul>
                                    <li><a
                                            href="https://codeforfun.jp/how-to-install-android-studio-windows-and-mac/">・Androidアプリのインストール手順</a>
                                    </li>
                                </ul>
                                <br>

                                <h2 id="プロジェクトを作成する">プロジェクトを作成する</h2>
                                <p>アンドロイドスタジオで開発を始めるためにプロジェクトを作成しましょう。</p>
                                <p>Fileタブ→New→ボタン→New Projectをクリックしましょう。</p>
                                <img src="/assets/images/006_01.png" alt="Angulartest.PNG">
                                <br>
                                <br>
                                <p>Bottom Navigation Views Activity　をクリック</p>
                                <img src="/assets/images/006_02.png" alt="Angulartest.PNG">

                                <br>
                                <br>
                                <p>Languageを「Java」、Build configration langageを「Groovy
                                    DSL(build.gradle)に変更」finishボタンをクリック</p>
                                <img src="/assets/images/006_03.png" alt="Angulartest.PNG">

                                <br>
                                <br>
                                <p>プロジェクトの画面に遷移すればOKです。</p>
                                <img src="/assets/images/006_05.png" alt="Angulartest.PNG">

                                <h2 id="動作確認をする">動作確認をする</h2>
                                <p>Rubボタンをクリックしましょう。</p>
                                <p>以下画像のRun 'app'ボタンをクリック</p>
                                <img src="/assets/images/006_08.png" alt="Angulartest.PNG">

                                <br>
                                <br>
                                <p>画面右側のように、仮想端末にHome画面が表示されればOKです。</p>
                                <img src="/assets/images/006_06.png" alt="Angulartest.PNG">


                                <h2 id="作成したアプリ">作成したアプリ</h2>
                                <p>ここまで閲覧いただきありがとうございます。</p>
                                <p>本日紹介したプロジェクトの作成方法を利用し、最終的にAndroidアプリを公開することができます。</p>
                                <p>私自身androidアプリを趣味で初めてアプリをリリースすることができました。</p>
                                <p>競馬の今月分、1月前までの競馬予想情報を表示するアプリです。</p>
                                <p>言語はJava、IDEはAndroid Studioとなります。</p>
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.tktkcompany.kakoRaceKeiba">競馬過去レース結果アプリ</a>
                                <img src="/assets/images/006_09.png" alt="Angulartest.PNG">
                                <p>本日紹介した手順で、Android Studioを利用したアプリ開発をスタートができるようになりました。</p>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
                <!--メインコンテンツ　ここまで-->

                <!--サブコンテンツ　ここから-->
                <div class="col-xs-12 col-md-4 ">
                    <!--カード　ここから-->
                    <div class="container mb-6">
                        <div class="card-deck ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title-group>
                                                <mat-card-title>とある都内のSE</mat-card-title>
                                                <mat-card-subtitle></mat-card-subtitle>
                                                <img mat-card-sm-image
                                                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                    alt="柴犬の画像">
                                            </mat-card-title-group>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>現役SEしています。Angularを現場で使うことになり、自身の理解力向上の為情報発信を始めました。
                                                このサイトもAngular17で作成されています。<br>
                                                ラーメンが好き。
                                            </p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--カード　ここまで-->
                    <div class="alert alert-primary" role="alert">
                        コピーしました！
                    </div>
                </div>
            </div>
        </div>
    </div>