<div class="wrapper">

    <!--ここからコンテンツ-->
    <div class="main">
        <!--ここからヘッダー-->
        <mat-toolbar color="primary">
            <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <a href="/"><span>tktkの技術ブログ アプリ</span></a>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <!-- <mat-icon>favorite</mat-icon> -->
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <!-- <mat-icon>share</mat-icon> -->
            </button>
        </mat-toolbar>

        <mat-sidenav-container>
            <mat-sidenav mode="side" closed #sidenav class="sideMenu">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="./">
                        <i class="bi bi-house-door-fill white-icon menu-icon"></i><span>技術ブログまとめ（Angularなど）</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="./shohin">
                        <i class="bi bi-house-door-fill white-icon menu-icon"></i><span>商品ランキング</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="./recipe/">
                        <i class="bi bi-code-slash white-icon menu-icon"></i><span>レシピランキング</span>
                    </a>
                    <a class="list-group-item list-group-item-action">
                        <i class="bi bi-book white-icon menu-icon"></i><span>なにかを追加予定</span>
                    </a>
                    <a class="list-group-item list-group-item-action">
                        <i class="bi bi-vector-pen white-icon menu-icon"></i><span>お問い合わせ</span>
                    </a>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <!-- メインコンテンツの内容はここに記述する。 -->
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
        <!--ここまでヘッダー-->

        <!--ここからフッター-->
        <mat-toolbar color="primary" class="fotter">
            <span></span>
            <small> &copy; tktkCompany rankingmatome Co. Ltd. 2024 </small>
        </mat-toolbar>
        <!--ここまでフッター-->
    </div>
    <!--ここまでコンテンツ-->
</div>



