<div class="wrapper">

    <!--ここからコンテンツ-->
    <div class="main">
        <!--ここからヘッダー-->
        <mat-toolbar color="primary">
            <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <a href="/"><span>とある都内SEの技術ブログ</span></a>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <!-- <mat-icon>favorite</mat-icon> -->
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <!-- <mat-icon>share</mat-icon> -->
            </button>
        </mat-toolbar>

        <mat-sidenav-container>
            <mat-sidenav mode="side" closed #sidenav class="sideMenu">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/">
                        <i class="bi bi-house-door-fill white-icon menu-icon"></i><span>技術ブログまとめ（Angularなど）</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="/shohin">
                        <i class="bi bi-house-door-fill white-icon menu-icon"></i><span>商品ランキング</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="/recipe">
                        <i class="bi bi-code-slash white-icon menu-icon"></i><span>レシピランキング</span>
                    </a>

                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <!-- メインコンテンツの内容はここに記述する。 -->
                <router-outlet></router-outlet>
                <div style="margin:0;padding:5px;font-size:12px;word-break: break-all;"><a
                        href="https://al.dmm.co.jp/?lurl=https%3A%2F%2Fbook.dmm.co.jp%2Fproduct%2F6033690%2Fb915awnmg02998%2F&af_id=tktkCompany-002&ch=reward_ranking&ch_id=package_text"
                        rel="sponsored" style="display:block;text-align:center;" target="_blank"><img
                            src="https://ebook-assets.dmm.co.jp/digital/e-book/b915awnmg02998/b915awnmg02998pl.jpg"
                            style="margin:0;padding:0;border:0;max-width:100%" /><span
                            style="display:block;margin:5px 0 0 0;padding:0;text-align:left;">オナホを買っただけなのに</span></a>
                    <p style="margin:5px 0 0 0;padding:0;color:#c00;font-weight:bold;">330円</p>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
        <!--ここまでヘッダー-->

        <!--ここからフッター-->
        <mat-toolbar color="primary" class="fotter">
            <span></span>
            <small> &copy; tkCompany rankingmatome Co. Ltd. 2024 </small>
        </mat-toolbar>
        <!--ここまでフッター-->
    </div>
    <!--ここまでコンテンツ-->
</div>