ul {
    margin-bottom: 20px;
}

code {

    background-color: #444;
    color: #17ff0b;
}

pre {
    background-color: #444;
}

.menu {
    background-color: #ccc;
    margin-left: 20px;
    margin-top: 20px;
}