<div class="menu">
    <div class="">
        <div class="article">
            <div class="row">
                <!--メインコンテンツ　ここから-->
                <div class="col-xs-12 col-md-8 ">
                    <div class="card h-0 mb-3 mr-3">
                        <div class="card-body">
                            <div class="">

                                <h1 id="mainTitle">
                                    <p>AngularMaterialの導入から動作確認まで(2024年2月作成)</p>
                                </h1>

                                <h4 id="目次">
                                    <p><strong>目次</strong></p>
                                </h4>
                                <mat-list>
                                    <mat-list-item><a
                                            href="/article002#AngularMaterialとは">AngularMaterialとは</a></mat-list-item>
                                    <mat-list-item><a href="/article002#環境">環境</a></mat-list-item>
                                    <mat-list-item><a href="/article002#この記事の目標">この記事の目標</a></mat-list-item>
                                    <mat-list-item><a
                                            href="/article002#AngularMaterialをインストール">AngularMaterialをインストール</a></mat-list-item>
                                    <mat-list-item><a
                                            href="/article002#ファイルの編集（TypeScript）">ファイルの編集（TypeScript）</a></mat-list-item>
                                    <mat-list-item><a href="/article002#ファイルの編集（HTML）">ファイルの編集（HTML）</a></mat-list-item>
                                    <mat-list-item><a href="/article002#サーバを起動">サーバを起動</a></mat-list-item>
                                </mat-list>

                                <br>
                                <h2 id="AngularMaterialとは">AngularMaterialとは</h2>
                                <p>Angular Materialとは,簡単にHTML上で利用できるUIコンポーネントを提供してくれるライブラリです。
                                    ターミナルからngコマンドを実施することで、簡単にWeb サイトのデザインを開発することができます。</p>

                                <h2 id="環境">環境</h2>
                                <ul>
                                    <li>・Windows 10</li>
                                    <li>・Angular 17.0</li>
                                    <li>・VScode</li>
                                </ul>

                                
                                <h2 id="この記事の目標">この記事の目標</h2>
                                <p>今回はUIコンポーネントを提供するAngularMaterialを利用し、
                                    クリックすることで色が変わるトグルを作成しようと思います。完成イメージは以下です。</p>
                                <p>■ボタン押下前</p>
                                <p class=><img src="/assets/images/002_3.png" alt="Angulartest.PNG">
                                <p>■ボタン押下後</p>
                                <p class=><img src="/assets/images/002_4.png" alt="Angulartest.PNG">

                                <h2 id="AngularMaterialをインストール">AngularMaterialをインストール</h2>
                                <p>AngularMaterialをインストールするために、以下のコマンドを実行します。
                                <p><code [innerHTML]>$ ng add -g &#064;angular/material</code></p>
                                <p>私が実際に実行したときの画面を記載します。</p>
                                <img src="/assets/images/002_1.png" alt="Angulartest.PNG">
                                <p><code [innerHTML]>$ npm list</code>でangular/materialが表示されればインストール完了です。</p>
                                <p>実際に実行したときの画面。</p>

                                <p><code [innerHTML]>$ npm list</code></p>
                                <img src="/assets/images/002_2.png" alt="Angulartest.PNG">


                                <h2 id="ファイルの編集（TypeScript）">ファイルの編集（TypeScript）</h2>
                                <p>前提条件として、プロジェクトを作成している必要があります。</p>
                                <p>今回はプロジェクトの作成方法は割愛しますが、
                                    まだ未作成の人は以下のリンクから適宜作成をお願いします。</p>
                                <a href="/article001">Angularの導入から動作確認までの手順</a>

                                <div class="highlight">
                                    <p>app.component.ts</p>
                                    <pre><code>{{typeScriptStr}}</code></pre>
                                </div>

                                <h2 id="ファイルの編集（HTML）">ファイルの編集（HTML）</h2>
                                <p>TTypeScriptの記述が完了したら、HTMLファイルを編集します。</p>
                                <div class="highlight">
                                    <p>app.component.html</p>
                                    <pre><code>{{htmltStr}}</code></pre>
                                </div>


                                <h2 id="サーバを起動">サーバを起動</h2>
                                <p>my-appディレクトリに移動します。</p>
                                <p><code>$ cd my-app</code></p>

                                <p>サーバーを起動します。
                                    http://localhost:4200でブラウザからアクセスします。</p>
                                <div class="highlight">
                                    <pre><code>C:\work\sample>cd my-app
C:\work\sample\my-app>
C:\work\sample\my-app>ng serve

Initial Chunk Files | Names         |  Raw Size
polyfills.js        | polyfills     |  83.46 kB |
main.js             | main          |  22.09 kB |
styles.css          | styles        |  95 bytes |

                    | Initial Total | 105.64 kB

Application bundle generation complete. [3.494 seconds]
Watch mode enabled. Watching for file changes...
  ➜  Local:   http://localhost:4200/
  ➜  press h + enter to show help
                        </code></pre>
                                </div>
                                <p>デフォルトの場合は<code>http://localhost:4200</code>
                                    にアクセスし、画面にトグルが表示できれば、AngularMaterialの導入は完了です。</p>
                                <p>左下に表示されていると思います。</p>
                                <p>※うまく表示できない方は右側の赤枠を少し下にずらしてみてください。</p>
                                <p class=AngularHello><img src="/assets/images/002_5.png" alt="Angulartest.PNG">
                                </p>

                                <p>CTRL + C でサーバーを終了します。</p>

                                <p>ここまでAngularMaterialの導入と動作確認までの解説となります。</p>

                                <p>公式サイトにはほかにもたくさんのコンポーネントが存在しているので、参考にしてみてください。</p>
                                <a href="https://material.angular.io/">>AngularMaterialの公式サイト</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--メインコンテンツ　ここまで-->

                <!--サブコンテンツ　ここから-->
                <div class="col-xs-12 col-md-4 ">
                    <!--カード　ここから-->
                    <div class="container mb-6">
                        <div class="card-deck ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <mat-card class="example-card">
                                        <mat-card-header>
                                            <mat-card-title-group>
                                                <mat-card-title>tktkCompany</mat-card-title>
                                                <mat-card-subtitle></mat-card-subtitle>
                                                <img mat-card-sm-image
                                                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                    alt="柴犬の画像">
                                            </mat-card-title-group>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>現役SEしています。Angularを現場で使うことになり、自身の理解力向上の為情報発信を始めました。
                                                このサイトもAngular17で作成されています。<br>
                                                ラーメンが好き。

                                                <a class="twitter-timeline"
                                                    href="https://twitter.com/tk241277687?ref_src=twsrc%5Etfw">twitterのリンクはこちら</a>
                                                <script async src="https://platform.twitter.com/widgets.js"
                                                    charset="utf-8"></script>
                                            </p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--カード　ここまで-->
                </div>
            </div>
        </div>
    </div>