<div class="menu">
    <div>
      <button type="button" class="get-information">楽天API発動！</button>
    </div>
  
    <!--1レコードここから-->
    <div class="row">
      <div class="col-sm-3">
        <!--ここからカード-->
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>楽天商品ランキング</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div class="itemName"><p></p></div>
          </mat-card-content>
          <mat-card-actions>
            <a href="/menu"><button mat-button>楽天商品検索はここをクリック</button></a>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <!--ここまでカード-->
        <br>
      </div>
  
      <div class="col-sm-3">
        <!--ここからカード-->
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>楽天本ランキング</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div class="itemName"><p></p></div>
          </mat-card-content>
          <mat-card-actions>
            <a href=""><button mat-button>楽天本検索はここをクリック</button></a>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <!--ここまでカード-->
        <br>
      </div>
  
      <div class="col-sm-3">
        <!--ここからカード-->
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>楽天レシピランキング</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div class="itemName"><p></p></div>
          </mat-card-content>
          <mat-card-actions>
            <a href="/recipe"><button mat-button>楽天レシピ検索はここをクリック</button></a>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <!--ここまでカード-->
        <br>
      </div>
  
    </div>
    <!--1レコードここまで-->
  
  
  </div>