<div class="menu">

  <br>
  <strong class="title">
    <h1>tktkCompanyの技術ブログ(angular中心)</h1>
  </strong>
  <br>

  <div class="">
    <div class="article">
      <div class="row">
        <!--メインコンテンツ　ここから-->
        <div class="col-xs-12 col-md-8 ">
          <div class="card h-0 mb-3 mr-3">
            <div class="card-body">
              <div class="">

                <!--1レコードここから-->
                <div class="row">
                  <div class="col-sm-6">
                    <!--ここからカード-->
                    <mat-card class="example-card" id="example-card" style="margin-left:20px;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <a href="/article001" style="color:inherit">
                          <mat-card-title>Angular 初期セットアップ</mat-card-title>
                        </a>
                        <mat-card-subtitle></mat-card-subtitle>
                      </mat-card-header>
                      <div class="img-frame">
                        <a href="/article001"><img mat-card-image src="/assets/images/angular.png"
                            alt="Photo of a Shiba Inu"></a>
                      </div>
                      <mat-card-content>
                        <div class="itemName">
                          <a href="/article001" style="color:inherit">
                            <p>Angularの環境構築からサーバー起動確認までの手順</p>
                          </a>
                        </div>
                        <p>2024年2月作成</p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
                    <!--ここまでカード-->
                    <br>
                  </div>

                  <div class="col-sm-6">
                    <!--ここからカード-->
                    <mat-card class="example-card" id="example-card" style="margin-left:20px;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <a href="/article002" style="color:inherit">
                          <mat-card-title>AngularMaterialのセットアップ</mat-card-title>
                        </a>
                        <mat-card-subtitle></mat-card-subtitle>
                      </mat-card-header>
                      <div class="img-frame">
                        <a href="/article002"><img mat-card-image src="/assets/images/dashboarg_002.png"
                          alt="Photo of a Shiba Inu"></a>
                      </div>
                      <mat-card-content>
                        <div class="itemName">
                          <a href="/article002" style="color:inherit">
                            <p>AngularMaterialの導入から動作確認までの手順</p>
                          </a>
                        </div>
                        <p>2024年2月作成</p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
                    <!--ここまでカード-->
                    <br>
                  </div>
                </div>
                <!--1レコードここまで-->


                <!--1レコードここから-->
                <div class="row">
                  <div class="col-sm-6">
                    <!--ここからカード-->
                    <mat-card class="example-card" id="example-card" style="margin-left:20px;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <a href="/article003" style="color:inherit">
                          <mat-card-title>Angular ページを増やす方法（コンポーネントの追加）</mat-card-title>
                        </a>
                        <mat-card-subtitle></mat-card-subtitle>
                      </mat-card-header>
                      <div class="img-frame">
                        <a href="/article003"><img mat-card-image src="/assets/images/angular.png"
                            alt="Photo of a Shiba Inu"></a>
                      </div>
                      <mat-card-content>
                        <div class="itemName">
                          <a href="/article003" style="color:inherit">
                            <p>Angularでコンポーネントの追加をする手順</p>
                          </a>
                        </div>
                        <p>2024年2月作成</p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
                    <!--ここまでカード-->
                    <br>
                  </div>

                  <div class="col-sm-6">
                    <!--ここからカード-->
                    <mat-card class="example-card" id="example-card" style="margin-left:20px;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <a href="/article002" style="color:inherit">
                          <mat-card-title>AngularMaterialのセットアップ</mat-card-title>
                        </a>
                        <mat-card-subtitle></mat-card-subtitle>
                      </mat-card-header>
                      <div class="img-frame">
                        <a href="/article002"><img mat-card-image src="/assets/images/dashboarg_002.png"
                          alt="Photo of a Shiba Inu"></a>
                      </div>
                      <mat-card-content>
                        <div class="itemName">
                          <a href="/article002" style="color:inherit">
                            <p>AngularMaterialの導入から動作確認までの手順</p>
                          </a>
                        </div>
                        <p>2024年2月作成</p>
                      </mat-card-content>
                      <mat-card-actions>
                      </mat-card-actions>
                    </mat-card>
                    <!--ここまでカード-->
                    <br>
                  </div>
                </div>
                <!--1レコードここまで-->
              </div>
            </div>
          </div>
        </div>
        <!--メインコンテンツ　ここまで-->

        <!--サブコンテンツ　ここから-->
        <div class="col-xs-12 col-md-4 ">
          <!--カード　ここから-->
          <div class="container mb-5">
            <div class="card-deck ">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>tktkCompany</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                      <p>現役SEしています。<br>Angularを現場で使うことになり、<br>自身の理解力向上の為情報発信を始めました。</p>
                      このサイトもAngular17で作成されています。ラーメンが好き。
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <!--カード　ここまで-->
        </div>
      </div>
    </div>
  </div>


</div>