/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;


}
.container{
  margin-top: 30px;
}


h1 {
  font-size: 1.4em;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
  border-bottom: 1px solid;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
  border-bottom: 1px solid;
}

p ul {

  margin-bottom: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", メイリオ, Meiryo, sans-serif;
  font-size: 20px;
}


/* ソースコードのスタイル */
code {
  background-color: #444;
  color: #17ff0b!important;
}

pre {
  background-color: #444;
}


ul {
  margin-bottom: 20px;
}

